*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F0F2F5;
}

button{
    cursor: pointer;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background:#2675EE;
}

.headerTitle {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

header div a {
    color: white;
    text-decoration: none;
}

.headerSearchbar{
    display: flex;
    align-items: center;
    input{
        border: none;
        border-radius: 15px;
        padding: 0 10px;
        height: 30px;
        width: 300px;
        color: #333;
        font-size: 14px;
        outline: none;
    }
}

.headerIcons{
    display: flex;
    align-items: center;
    span{
        background: white;
        border-radius: 50%;
        padding: 3.5px 4px 6px 6px;
    }
}

#logoutIcon {
    font-size: 24px;
    color: white;
    margin: 0 15px 0 0;
    cursor: pointer;
}

.authFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.AuthContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    align-items: center;
}

.hero{
    h1{
        color: #2675EE;
        font-size: 48px;
        text-align: center;
    }
    p{
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }
}

//
// Login Registration Form Styles
//

.formContainer{
    background: white;
    border-radius: 9px;
    padding: 3%;
    height: 325px;
    width: 400px;
}

.login, .registration{
    form{
        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 25px;
            border: 1px solid #ccc;
            border-radius: 9px;
        }
        button{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 9px;
            background: #2675EE;
            color: white;
            font-weight: bold;
        }
    }
}

.registration {
    form {
        input{
            margin-bottom: 10px;
            &:nth-of-type(4){
                margin-bottom: 20px;
            }
        }
    }
}

.forgotPassword{
    display: flex;
    justify-content: center;
    a{
        color: #2675EE;
        text-decoration: none;
        text-align: center;
        margin: 20px 0 33px 0;
    }
}

.createAccount{
    display: flex;
    justify-content: center;
    a{
        color: #2675EE;
        text-decoration: none;
        text-align: center;
    }
    button{
        width: 50%;
        padding: 10px;
        margin: 10px 0 10px 0;
        border: 1px solid #ccc;
        border-radius: 9px;
        background: #42B72A;
        color: white;
        font-weight: bold;
    }
}

//////

//
// Profile Page
//

.profileHeader{
    h1{
        font-size: 48px;
        text-align: center;
        color: #2675EE;
        margin: 10px 0;
    }
}

// Forms in profile page
.changePassword, .changeEmail{
    > button {
        width: 15%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 9px;
        background: #2675EE;
        color: white;
        font-weight: bold;
    }
    margin: 25px 0 0 25px;
    h2{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #2675EE;
    }
    form{
        input{
            display: block;
            width: 30%;
            padding: 10px;
            margin-bottom: 25px;
            border: 1px solid #ccc;
            border-radius: 9px;
        }
        button{
            width: 30%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 9px;
            background: #2675EE;
            color: white;
            font-weight: bold;
        }
    }
}

