*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F0F2F5;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.headerTitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

header div a {
    color: #000;
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.AuthContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    align-items: center;
}

.hero{
    h1{
        color: #2675EE;
        font-size: 45px;
    }
    p{
        font-size: 22px;
    }
}

// Login Registration Form Styles

.formContainer{
    background: white;
    border-radius: 9px;
    padding: 3%;
}

.login{
    form{
        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 25px;
            border: 1px solid #ccc;
            border-radius: 9px;
        }
        button{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 9px;
            background: #2675EE;
            color: white;
            font-weight: bold;
        }
    }
}

.forgotPassword{
    display: flex;
    justify-content: center;
    a{
        color: #2675EE;
        text-decoration: none;
        text-align: center;
        margin: 20px 0 0 0;
    }
}

.createAccount{
    display: flex;
    justify-content: center;
    a{
        color: #2675EE;
        text-decoration: none;
        text-align: center;
    }
    button{
        width: 50%;
        padding: 10px;
        margin: 30px 0 10px 0;
        border: 1px solid #ccc;
        border-radius: 9px;
        background: #42B72A;
        color: white;
        font-weight: bold;
    }
}
